<div class="examples">
  <mat-card appearance="outlined">
    <mat-card-content>
      <mat-radio-group>
        <small class="label">Country</small>
        <mat-radio-button value="1">Afghanistan</mat-radio-button>
        <mat-radio-button value="2">Albania</mat-radio-button>
        <mat-radio-button value="3">Algeria</mat-radio-button>
        <mat-radio-button value="4">Andorra</mat-radio-button>
        <mat-radio-button value="5">Angola</mat-radio-button>
        <mat-radio-button value="6">Antigua and Barbuda</mat-radio-button>
        <mat-radio-button value="7">Argentina</mat-radio-button>
        <mat-radio-button value="8">Armenia</mat-radio-button>
        <mat-radio-button value="9">Australia</mat-radio-button>
        <mat-radio-button value="10">Austria</mat-radio-button>
        <mat-radio-button value="11">Azerbaijan</mat-radio-button>
        <mat-radio-button value="12">The Bahamas</mat-radio-button>
        <mat-radio-button value="13">Bahrain</mat-radio-button>
        <mat-radio-button value="14">Bangladesh</mat-radio-button>
        <mat-radio-button value="15">Barbados</mat-radio-button>
        <mat-radio-button value="16">Belarus</mat-radio-button>
        <mat-radio-button value="17">Belgium</mat-radio-button>
      </mat-radio-group>
    </mat-card-content>
  </mat-card>
  
  <mat-card appearance="outlined">
    <mat-card-content>
      <mat-form-field appearance="outline">
        <mat-label>Country</mat-label>
        <mat-select>
          <mat-option value="1">Afghanistan</mat-option>
          <mat-option value="2">Albania</mat-option>
          <mat-option value="3">Algeria</mat-option>
          <mat-option value="4">Andorra</mat-option>
          <mat-option value="5">Angola</mat-option>
          <mat-option value="6">Antigua and Barbuda</mat-option>
          <mat-option value="7">Argentina</mat-option>
          <mat-option value="8">Armenia</mat-option>
          <mat-option value="9">Australia</mat-option>
          <mat-option value="10">Austria</mat-option>
          <mat-option value="11">Azerbaijan</mat-option>
          <mat-option value="12">The Bahamas</mat-option>
          <mat-option value="13">Bahrain</mat-option>
          <mat-option value="14">Bangladesh</mat-option>
          <mat-option value="15">Barbados</mat-option>
          <mat-option value="16">Belarus</mat-option>
          <mat-option value="17">Belgium</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>
  </mat-card>
</div>
